.column-header {
    font-size: 22px;
}

.category-section-container {
    height: 100%;
    width: 100%;
}

.category-selector {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-category {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.addedit-section-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

.left-section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 35%;
    height: 100%;
}

.middle-section {
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.right-section {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}